<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
      <a href="#" class="card h-100 shadow border-left-primary py-2">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col mr-2">
              <div
                class="text-uppercase text-primary font-weight-bold text-xs mb-1"
              >
                <span>Soldes congé </span>
              </div>
              <div class="text-dark font-weight-light mb-0"></div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
      <a href="#" class="card h-100 shadow border-left-success py-2">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col mr-2">
              <div
                class="text-uppercase text-success font-weight-bold text-xs mb-1"
              >
                <span>Demande congé en cours </span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
      <a href="#" class="card h-100 shadow border-left-info py-2">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col mr-2">
              <div
                class="text-uppercase text-info font-weight-bold text-xs mb-1"
              >
                <span>Mission à venir </span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
      <a href="#" class="card h-100 shadow border-left-warning py-2">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col mr-2">
              <div
                class="text-uppercase text-warning font-weight-bold text-xs mb-1"
              >
                <span>Congé à venir</span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
