<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12 my-4">
      <h2 class="text-primary">AUTO xpert 🚗🔧</h2>
      <p class="lead"></p>
        <p>Bienvenue sur MEAN - Garage, une application de gestion pour les garages automobiles, facilitant la prise de rendez-vous, la gestion des services.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
      <div class="card h-100 shadow border-left-primary py-2">
        <div class="card-body">
          <h5 class="text-uppercase text-primary font-weight-bold">Gestion des utilisateurs</h5>
          <ul class="text-left">
            <li>Inscription des clients (rôle par défaut : client)</li>
            <li>Connexion pour tous les utilisateurs</li>
            <!-- <li>Ajout de mécaniciens (rôle par défaut : mécanicien)</li> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-3 mb-4">
      <div class="card h-100 shadow border-left-success py-2">
        <div class="card-body">
          <h5 class="text-uppercase text-success font-weight-bold">Gestion des rendez-vous</h5>
          <ul class="text-left">
            <li>Demande de rendez-vous par les clients</li>
            <li>Liste des demandes de rendez-vous</li>
            <li>Confirmation des rendez-vous par le manager</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-3 mb-4">
      <div class="card h-100 shadow border-left-info py-2">
        <div class="card-body">
          <h5 class="text-uppercase text-info font-weight-bold">Gestion des services et devis</h5>
          <ul class="text-left">
            <li>Création de services</li>
            <!-- <li>Sortie de devis</li> -->
            <li>Confirmation des services</li>
            <li>Suivi des services si les services sont en cours ou deja terminer</li>
            <!-- <li>Sortie de factures</li>
            <li>Frais de diagnostic et déplacement (si applicable)</li> -->
          </ul>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-6 col-xl-3 mb-4">
      <div class="card h-100 shadow border-left-warning py-2">
        <div class="card-body">
          <h5 class="text-uppercase text-warning font-weight-bold">Gestion des tâches et du stock</h5>
          <ul class="text-left">
            <li>Attribution de tâches aux mécaniciens</li>
            <li>Liste des tâches</li>
            <li>Gestion du stock de pièces (Manager)</li>
          </ul>
        </div>
      </div>
    </div> -->
  </div>
</div>
