<div class="container-fluid">
  <h3 class="text-dark mb-4" style="text-align: center">Liste des services</h3>
  <div class="card shadow">
    <div class="card-body">
      <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
        <table class="table my-0" id="dataTable">
          <thead>
            <tr>
              <th>Vehicule</th>
              <th>Description</th>
              <th>Status</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service_Auto_Client of service_Auto_Clients">
              <td>{{ service_Auto_Client.vehicule }}</td>
              <td>{{ service_Auto_Client.description }}</td>
              <td>{{ service_Auto_Client.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>