<div class="container-fluid">
  <h3 class="text-dark mb-4" style="text-align: center">Liste des services</h3>
  <div class="card shadow">
    <div class="card-body">
      <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
        <table class="table my-0" id="dataTable">
          <thead>
            <tr>
              <th>Vehicule</th>
              <th>client</th>
              <th>Description</th>
              <th>Status</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of services">
              <td>{{ service.vehicule }}</td>
              <td>{{ service.client_id.nom+' '+service.client_id.prenom }}</td>
              <td>{{ service.description }}</td>
              <td
                [ngStyle]="{ color: service.status === 'en cours' ? 'blue' : service.status === 'terminer' ? 'green' : 'red' }">
                {{ service.status }}</td>
              <td *ngIf="service.status === 'en cours'">
                <button class="btn btn-success btn-sm" (click)="updateStatus(service._id, 'terminer')">Terminer</button>
                <button class="btn btn-danger btn-sm" (click)="updateStatus(service._id, 'annuler')">Annuler</button>
              </td>
              <td *ngIf="service.status !== 'en cours'"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>