<div class="container-fluid">
  <h3 class="text-dark mb-4" style="text-align: center">Liste des services</h3>
  <div class="card shadow">
    <div class="card-body">
      <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
        <table class="table my-0" id="dataTable">
          <thead>
            <tr>
              <th>Vehicule</th>
              <th>mecanicien</th>
              <th>Description</th>
              <th>Status</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Clio</td>
              <td>Jean Dupont</td>
              <td>Réparation moteur</td>
              <td>En cours</td>
            </tr>
            <tr>
              <td>Peugeot 208</td>
              <td>Marie Curie</td>
              <td>Changement de pneus</td>
              <td>Terminé</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
